.services {
    position: relative;
    height: 300px;
    background-size: 100% 100%;
    background-position: center;
    padding: 0;
    overflow: hidden;
}

.services:hover .screen {
    top: 0;
}

.services .screen {
    top: -100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}

.t-div {
    display: table;
    width: 100%;
}

.t-child {
    display: table-cell;
    vertical-align: middle;
}

.absolute {
    position: absolute;
}

.white-text {
    color: #ffffff;
}

.subtitle {
    font-size: 2.5em;
}

#boton_down2 {
    position: absolute;
    right: 15.5em;
    bottom: 0.5em;
}

#botonEImg{
    position: absolute;
    right: 10em;
    bottom: 0.5em;
}

#boton_down{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#boton_cat{
    position: absolute;
    right: 15em;
    bottom: 0.5em;
}

#botonBCat{
    position: absolute;
    right: 9em;
    bottom: 0.5em;
}

#boton_video{
    position: absolute;
    /*right: 5px;*/
    /*top: 5px;*/
    left: 1em;
    bottom: 5px;
}
#botonEVid{
    position: absolute;
    /*right: 5px;*/
    /*top: 5px;*/
    bottom: 5px;
    left:7em;
}


.video-container {
    /*height: 100%;*/
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
}

#video video {width:100%; max-width:400px;}

#video img {width:100%; max-width:300px;}

#imagen3 img {width:100%; max-width:200px;}

#imagen4 img {width:100%; max-width:200px;}

#prev img {width:100%; max-width:320px; padding-bottom: 10px}


/*css modulo personal*/
.drop-cargo{
    width: 130px !important;
}

.scrollbar{
    overflow-y: visible;
}

/*#exampleAccordin::-webkit-scrollbar*/
/*{*/

/*}*/